<p id="notice"><%= notice %></p>

<h1>Listing Candidates</h1>

<table>
  <thead>
    <tr>
      <td colspan="3"><%= will_paginate @candidates, renderer: FoundationPagination::Rails %></td>
      <td colspan="3"><%= link_to 'New Candidate', new_job_posting_candidate_path(job_posting_id: params[:job_posting_id]) %></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cover Letter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.cover_letter %></td>
        <td><%= link_to 'Show', job_posting_candidate_path(job_posting_id: candidate.job_posting_id, id: candidate.id) %></td>
        <td><%= link_to 'Edit', edit_job_posting_candidate_path(job_posting_id: candidate.job_posting_id, id: candidate.id) %></td>
        <td><%= link_to 'Destroy', job_posting_candidate_path(job_posting_id: candidate.job_posting_id, id: candidate.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><%= will_paginate @candidates, renderer: FoundationPagination::Rails %></td>
      <td colspan="3"><%= link_to 'New Candidate', new_job_posting_candidate_path(job_posting_id: params[:job_posting_id]) %></td>
    </tr>
  </tfoot>
</table>
